<%= form_with(model: person, local: true) do |form| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  </div>
    <% if current_user.admin? %>
	<%= select(:person, :filial_id, @fil_options) %>
    <% else %>
	<h2><%= form.label :filail_id, value: @fil.name %></h2>
	<%= form.number_field :filial_id, value: @fil.id.to_i, :readonly => true, :hidden => true %>
    <% end %>
    <%= form.label :FIO, "Фамилия , инициалы" %>
    <%= form.text_field :FIO %>
  <div class="actions">
    <%= form.submit "Создать материально отвественное лицо"%>
  </div>
<% end %>
