<div class="row">
  <div class="col-md-2 col-md-offset-5">

<% if current_user.admin? %>

<%= form_with(model: type, local: true) do |form| %>
  <% if type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(type.errors.count, "error") %> prohibited this type from being saved:</h2>

      <ul>
      <% type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	    <div class="field">
		<h2><%= form.label :name, "имя типа" %></h2>
		<%= form.text_field :name %>
	    </div>

	    <div class="field">
		<h2><%= form.label :num, "номер типа" %></h2>
		<%= form.number_field :num %>
	    </div>


	    <div class="actions">
		<%= form.submit %>
		</div>
	    <% end %>
	<% end %>

    </div>
</div>